{% extends 'base.html' %}
{% block title %}{{ form.instance.pk|yesno:"تعديل قرض,إضافة قرض جديد" }}{% endblock %}

{% block content %}

<div dir="rtl" class="max-w-3xl mx-auto mt-10 mb-10 p-8 bg-white rounded-3xl shadow-2xl">
  <h2 class="text-3xl font-extrabold mb-8 text-center text-indigo-700">
    {{ form.instance.pk|yesno:"✏️ تعديل قرض 📚,📚 إضافة قرض جديد" }}
  </h2>

  <form method="post" enctype="multipart/form-data"
        class="grid grid-cols-1 md:grid-cols-4 gap-8 items-start">
    {% csrf_token %}



    <!-- ✅ الحقول -->
     
    <div class="md:col-span-4 flex flex-col space-y-5" id="fieldsContainer">
      <div>
        <label class="text-gray-700 font-semibold mb-1">{{ form.book.label_tag }}</label>
        {{ form.book }}
      </div>

      <div>
        <label class="text-gray-700 font-semibold mb-1">{{ form.borrower.label_tag }}</label>
        {{ form.borrower }}
      </div>

       <div>
        <label class="text-gray-700 font-semibold mb-1">{{ form.user.label_tag }}</label>
        {{ form.user }}
      </div> 

      <div>
        <label class="text-gray-700 font-semibold mb-1">{{ form.borrow_date.label_tag }}</label>
        {{ form.borrow_date }}
      </div>

      <div>
        <label class="text-gray-700 font-semibold mb-1">{{ form.return_date.label_tag }}</label>
        {{ form.return_date }}
      </div>

      <div>
        <label class="text-gray-700 font-semibold mb-1">{{ form.is_returned.label_tag }}</label>
        {{ form.is_returned }}
      </div>

      <div class="flex justify-between mt-6">
        <button type="submit"
                class="flex items-center bg-indigo-600 hover:bg-indigo-700 text-white px-6 py-2 rounded-xl shadow-lg transition duration-200">
          💾 حفظ
        </button>
        <a href="{% url 'borrows_list' %}"
           class="flex items-center bg-gray-300 hover:bg-gray-400 px-6 py-2 rounded-xl transition duration-200">
          ❌ إلغاء
        </a>
      </div>

    </div>

  </form>
  {% if form.non_field_errors %}
      <p class="text-red-500 text-m mt-1">{{ form.non_field_errors|striptags }}</p>
      {% endif %}
</div>



{% endblock %}
