{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">


<!--    make cairo the default font -->
    <script>
  tailwind.config = {
    theme: {
      extend: {
        fontFamily: {
          sans: ['Cairo', 'ui-sans-serif', 'system-ui'],
        },
      },
    },
  };
</script>





</head>

<body>
    <!-- رأس الصفحة -->
    <header>
        <div class="container nav">
            <h1 class="logo">📚 نظام إدارة المكتبة</h1>
            <nav>
                <a href="{% url 'home' %}">الرئيسية</a>
                <a href="{% url 'books_list' %}">الكتب</a>
                <a href="{% url 'authors_list' %}">المؤلفون</a>
                <a href="{% url 'borrowers_list' %}">الأعضاء</a>
                <a href="{% url 'borrows_list' %}">الإعارة</a>
                <a href="{% url 'users_list' %}">الموظفون</a>
                {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class="btn-login">تسجيل خروج</a> 
                {% else %}    
                <a href="{% url 'account_login' %}" class="btn-login">تسجيل دخول</a>
                {% endif %}
                
            </nav>
        </div>
    </header>
    {% block content %}
    {% endblock %}

    <!-- التذييل -->
    <footer>
        <p>نظام إدارة المكتبة   |    تصميم: مرتضى محمد © 2025  </p>
    </footer>
</body>

</html>